<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/style.css" />

    <title>About Us</title>
  </head>

  <body>
    <div th:replace="/fragments/header"></div>
    <main>
      <section class="kontak kontak-title bg-primary text-white py-2">
        <div class="container">
          <h1 class="text-center">ABOUT US</h1>
        </div>
      </section>
      <section class="as-section pb-lg-0 about-scroll my-5">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 align-self-center">
              <img
                src="https://www.niagahoster.co.id/assets/images/2021/arunika/about-us/tentang-kami.webp"
                data-src="https://www.niagahoster.co.id/assets/images/2021/arunika/about-us/tentang-kami.webp"
                loading="lazy"
                alt="Tentang Kami"
                class="img-fluid as-feature__illustration blur-up lazyloaded"
                width="475"
                height="421"
              />
            </div>
            <div class="col-lg-6">
              <h2 class="as-feature__title">Tentang Kami</h2>
              <p class="as-feature__description">
                Berdiri sejak tahun 2013, Niagahoster selalu menjamin kualitas uptime server 99.9%, dukungan CS 24 jam, dan memberikan harga termurah di kelasnya. Kami juga berkomitmen untuk senantiasa memenuhi berbagai kebutuhan pelanggan,
                baik profesional maupun personal.
              </p>
              <p class="as-feature__description mt-3">Misi Niagahoster adalah membantu jutaan orang memanfaatkan potensi yang ada di internet untuk membangun kesuksesan online melalui layanan web hosting yang stabil, cepat dan mudah.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="as-section my-5">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 order-1 order-lg-0">
              <h2 class="as-feature__title">Visi Perusahaan</h2>
              <p class="as-feature__description">Semua orang di Indonesia memiliki website yang memberikan keuntungan dan bermanfaat.</p>
              <h2 class="as-feature__title">Misi Perusahaan</h2>
              <p class="as-feature__description">Membantu jutaan orang di Indonesia untuk memaksimalkan potensi internet dengan memberikan mereka alat untuk belajar dan berkembang.</p>
            </div>
            <div class="col-lg-6 order-0 order-lg-1">
              <img
                src="https://www.niagahoster.co.id/assets/images/2021/arunika/about-us/visi-misi.webp"
                data-src="https://www.niagahoster.co.id/assets/images/2021/arunika/about-us/visi-misi.webp"
                loading="lazy"
                alt="Visi Perusahaan"
                class="as-feature__illustration img-fluid blur-up lazyloaded"
                width="400"
                height="400"
              />
            </div>
          </div>
        </div>
      </section>
      <section class="as-section-soft as-card-slider text-left">
        <div class="container">
          <div class="row align-items-center justify-content-between mb-5">
            <div class="col-8 col-md-10 col-lg-6">
              <h2 class="as-section-white__title mb-0 d-lg-inline py-5">Budaya Perusahaan untuk Layanan Pelanggan Lebih Baik</h2>
            </div>
            <div class="col-4 col-md-2 col-lg-2">
              <span class="mt-4 as-card-slider__control float-lg-right mt-lg-0">
                <i class="as-card-slider__control-icon as-card-slider__control-icon--left active"></i>
                <i class="as-card-slider__control-icon as-card-slider__control-icon--right"></i>
              </span>
            </div>
          </div>
          <div class="as-card-slider__content-wrapper">
            <div class="row">
              <div class="col-lg-4 as-card-slider__first-slide d-block mb-5">
                <div class="as-card-slider__content">
                  <img
                    src="https://www.niagahoster.co.id/assets/images/2021/company-value/icon-customer-obsession.webp"
                    data-src="https://www.niagahoster.co.id/assets/images/2021/company-value/icon-customer-obsession.webp"
                    alt="Customer Obsession"
                    class="as-card-slider__content-icon blur-up lazyloaded"
                    loading="lazy"
                    width="38"
                    height="36"
                  />
                  <h3 class="as-card-slider__content-title">Customer Obsession</h3>
                  <p class="p-0 as-card-slider__content-details">
                    Berprinsip untuk memusatkan solusi dari perspektif kebutuhan pelanggan, Niagahoster selalu meneliti secara ekstensif dan berusaha untuk memahami pelanggan dengan lebih baik.
                  </p>
                </div>
              </div>
              <div class="col-lg-4 as-card-slider__first-slide d-block mb-5">
                <div class="as-card-slider__content">
                  <img
                    src="https://www.niagahoster.co.id/assets/images/2021/company-value/icon-ownership.webp"
                    data-src="https://www.niagahoster.co.id/assets/images/2021/company-value/icon-ownership.webp"
                    alt="Ownership"
                    class="as-card-slider__content-icon blur-up lazyloaded"
                    loading="lazy"
                    width="38"
                    height="36"
                  />
                  <h3 class="as-card-slider__content-title">Ownership</h3>
                  <p class="p-0 as-card-slider__content-details">
                    Kepedulian terhadap pelanggan juga mendorong Niagahoster untuk selalu bekerja dengan komitmen dan membuat keputusan berdasarkan perspektif jangka panjang demi kepentingan perusahaan.
                  </p>
                </div>
              </div>
              <div class="col-lg-4 as-card-slider__first-slide d-block mb-5">
                <div class="as-card-slider__content">
                  <img
                    src="https://www.niagahoster.co.id/assets/images/2021/company-value/icon-learn-and-be-curious.webp"
                    data-src="https://www.niagahoster.co.id/assets/images/2021/company-value/icon-learn-and-be-curious.webp"
                    alt="Learn &amp; Be Curious"
                    class="as-card-slider__content-icon blur-up lazyloaded"
                    loading="lazy"
                    width="38"
                    height="36"
                  />
                  <h3 class="as-card-slider__content-title">Learn &amp; Be Curious</h3>
                  <p class="p-0 as-card-slider__content-details">
                    Karyawan Niagahoster selalu bersemangat untuk meningkatkan kualitas diri dan menjelajahi potensi individu pribadi. Mulai dari diri sendiri untuk berkembang bersama mencapai tujuan kolektif.
                  </p>
                </div>
              </div>
              <div class="col-lg-4 as-card-slider__first-slide d-block mb-5">
                <div class="as-card-slider__content">
                  <img
                    src="https://www.niagahoster.co.id/assets/images/2021/company-value/icon-hire-and-develope-the-best.webp"
                    data-src="https://www.niagahoster.co.id/assets/images/2021/company-value/icon-hire-and-develope-the-best.webp"
                    alt="Hire &amp; Develop The Best"
                    class="as-card-slider__content-icon blur-up lazyloaded"
                    loading="lazy"
                    width="38"
                    height="36"
                  />
                  <h3 class="as-card-slider__content-title">Hire &amp; Develop The Best</h3>
                  <p class="p-0 as-card-slider__content-details">
                    Selalu mencari talent terbaik dari setiap lini, Niagahoster selalu berusaha meningkatkan skala organisasi dengan mengembangkan pemimpin dan mempertahankan orang-orang terbaik di bidangnya.
                  </p>
                </div>
              </div>
              <div class="col-lg-4 as-card-slider__first-slide d-block mb-5">
                <div class="as-card-slider__content">
                  <img
                    src="https://www.niagahoster.co.id/assets/images/2021/company-value/icon-highest-standard.webp"
                    data-src="https://www.niagahoster.co.id/assets/images/2021/company-value/icon-highest-standard.webp"
                    alt="Highest Standards"
                    class="as-card-slider__content-icon blur-up lazyloaded"
                    loading="lazy"
                    width="38"
                    height="36"
                  />
                  <h3 class="as-card-slider__content-title">Highest Standards</h3>
                  <p class="p-0 as-card-slider__content-details">
                    Selalu mengejar standar tertinggi, Niagahoster senantiasa meningkatkan kualitas kerja dan mendorong tim Anda untuk memberikan layanan terbaik, baik secara internal maupun eksternal.
                  </p>
                </div>
              </div>
              <div class="col-lg-4 as-card-slider__first-slide d-block mb-5">
                <div class="as-card-slider__content">
                  <img
                    src="https://www.niagahoster.co.id/assets/images/2021/company-value/icon-freedom-and-responsibility.webp"
                    data-src="https://www.niagahoster.co.id/assets/images/2021/company-value/icon-freedom-and-responsibility.webp"
                    alt="Freedom &amp; Responsibility"
                    class="as-card-slider__content-icon blur-up lazyloaded"
                    loading="lazy"
                    width="38"
                    height="36"
                  />
                  <h3 class="as-card-slider__content-title">Freedom &amp; Responsibility</h3>
                  <p class="p-0 as-card-slider__content-details">
                    Setiap karyawan harus memiliki motivasi diri, kesadaran diri, disiplin, dan keinginan untuk memperbaiki kualitas pribadi. Bebas namun tetap bertanggung jawab terhadap pekerjaannya.
                  </p>
                </div>
              </div>
              <div class="col-lg-4 as-card-slider__second-slide d-none mb-5">
                <div class="as-card-slider__content">
                  <img
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="https://www.niagahoster.co.id/assets/images/2021/company-value/icon-focus.webp"
                    alt="Focus"
                    class="as-card-slider__content-icon lazyload blur-up"
                    loading="lazy"
                    width="38"
                    height="36"
                  />
                  <h3 class="as-card-slider__content-title">Focus</h3>
                  <p class="p-0 as-card-slider__content-details">
                    Berfokus untuk memberikan kontribusi pada kesuksesan jangka panjang. Berpikir secara strategis, dapat mendorong efektivitas kegiatan dan penggunaan data untuk mendukung pembuatan keputusan.
                  </p>
                </div>
              </div>
              <div class="col-lg-4 as-card-slider__second-slide d-none mb-5">
                <div class="as-card-slider__content">
                  <img
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="https://www.niagahoster.co.id/assets/images/2021/company-value/icon-bias-towards-action.webp"
                    alt="Bias Toward Action"
                    class="as-card-slider__content-icon lazyload blur-up"
                    loading="lazy"
                    width="38"
                    height="36"
                  />
                  <h3 class="as-card-slider__content-title">Bias Toward Action</h3>
                  <p class="p-0 as-card-slider__content-details">
                    Mementingkan kecepatan dalam menjalankan tugas. Membuat keputusan dengan tegas dan tepat sasaran, berorientasi tindakan, daripada pekerjaan berbasis diskusi yang tidak efektif.
                  </p>
                </div>
              </div>
              <div class="col-lg-4 as-card-slider__second-slide d-none mb-5">
                <div class="as-card-slider__content">
                  <img
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="https://www.niagahoster.co.id/assets/images/2021/company-value/icon-courage-and-candidness.webp"
                    alt="Courage and Candidness"
                    class="as-card-slider__content-icon lazyload blur-up"
                    loading="lazy"
                    width="38"
                    height="36"
                  />
                  <h3 class="as-card-slider__content-title">Courage and Candidness</h3>
                  <p class="p-0 as-card-slider__content-details">
                    Berterus terang dan menyampaikan fakta secara gamblang &amp; apa adanya. Proakitif saling memberikan umpan balik yang transparan. Pembuatan keputusan tanpa beban emosi atau kepentingan pribadi.
                  </p>
                </div>
              </div>
              <div class="col-lg-4 as-card-slider__second-slide d-none">
                <div class="as-card-slider__content">
                  <img
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="https://www.niagahoster.co.id/assets/images/2021/company-value/icon-deliver-results.webp"
                    alt="Deliver Results"
                    class="as-card-slider__content-icon lazyload blur-up"
                    loading="lazy"
                    width="38"
                    height="36"
                  />
                  <h3 class="as-card-slider__content-title">Deliver Results</h3>
                  <p class="p-0 as-card-slider__content-details">
                    Selalu berusaha memberikan hasil dengan kualitas terbaik dan tepat waktu. Niagahoster juga senantiasa memberikan penghargaan terhadap pencapaian dan kerja keras dari setiap lini perusahaan.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <div th:replace="/fragments/footer"></div>
  </body>
</html>
